WSPoject/WebContent/wsdl/CurrencyService.wsdl

<?xml version="1.0" encoding="UTF-8"?>
<wsdl:definitions targetNamespace="http://service.currency.ws.com" xmlns:apachesoap="http://xml.apache.org/xml-soap" xmlns:impl="http://service.currency.ws.com" xmlns:intf="http://service.currency.ws.com" xmlns:wsdl="http://schemas.xmlsoap.org/wsdl/" xmlns:wsdlsoap="http://schemas.xmlsoap.org/wsdl/soap/" xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<!--WSDL created by Apache Axis version: 1.4
Built on Apr 22, 2006 (06:55:48 PDT)-->
 <wsdl:types>
  <schema elementFormDefault="qualified" targetNamespace="http://service.currency.ws.com" xmlns="http://www.w3.org/2001/XMLSchema">
   <element name="getCurrency">
    <complexType>
     <sequence>
      <element name="country" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
   <element name="getCurrencyResponse">
    <complexType>
     <sequence>
      <element name="getCurrencyReturn" type="xsd:string"/>
     </sequence>
    </complexType>
   </element>
  </schema>
 </wsdl:types>

   <wsdl:message name="getCurrencyResponse">

      <wsdl:part element="impl:getCurrencyResponse" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:message name="getCurrencyRequest">

      <wsdl:part element="impl:getCurrency" name="parameters">

      </wsdl:part>

   </wsdl:message>

   <wsdl:portType name="CurrencyService">

      <wsdl:operation name="getCurrency">

         <wsdl:input message="impl:getCurrencyRequest" name="getCurrencyRequest">

       </wsdl:input>

         <wsdl:output message="impl:getCurrencyResponse" name="getCurrencyResponse">

       </wsdl:output>

      </wsdl:operation>

   </wsdl:portType>

   <wsdl:binding name="CurrencyServiceSoapBinding" type="impl:CurrencyService">

      <wsdlsoap:binding style="document" transport="http://schemas.xmlsoap.org/soap/http"/>

      <wsdl:operation name="getCurrency">

         <wsdlsoap:operation soapAction=""/>

         <wsdl:input name="getCurrencyRequest">

            <wsdlsoap:body use="literal"/>

         </wsdl:input>

         <wsdl:output name="getCurrencyResponse">

            <wsdlsoap:body use="literal"/>

         </wsdl:output>

      </wsdl:operation>

   </wsdl:binding>

   <wsdl:service name="CurrencyServiceService">

      <wsdl:port binding="impl:CurrencyServiceSoapBinding" name="CurrencyService">

         <wsdlsoap:address location="http://localhost:8080/WSPoject/services/CurrencyService"/>

      </wsdl:port>

   </wsdl:service>

</wsdl:definitions>
